{% extends "base.html" %} {% block content %}
  <h2><span>Sola Samuel</span></h2>
  <p>
    Self-motivated and target-driven university student positioned to reliably
    contribute to software development functions demanding tact, passion, and
    ideal work ethic. An analytical mind with experience working on multiple
    projects concurrently and strong communication skills familiar with frontend
    and backend development.
  </p>
  <a href="/contact/">Let's get to work</a>
{% endblock content %}
